<!DOCTYPE html>
<html>
  <head>
    <title>Cased</title>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'cased/favicon' %>
    <%= javascript_include_tag 'cased/index' %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
